<% if @user.errors.any? %>
	<div id = "error_explanation">
		<h2>
			<%= pluralize(@user.errors.count, "evil") %>
			have stopped you from your mission, adventurer:
		</h2>
		<p>These are the monsters you face:</p>
		<ul>
		<% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
	</div>
<% end %>